@tailwind base;
@tailwind components;
@tailwind utilities;

/* I think the tailwind preflight on the heading makes totally no sense */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: revert;
    font-size: revert;
  }
}

code {
  background-color: #f7f7f7; 
  border-radius: 0.25rem;
  padding: 0.2rem;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

pre:has(code) {
  background-color: #f7f7f7; 
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}